<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Honeycomb.Properties.Settings.CrawlerEntities" connectionString="Data Source=193.124.113.235;Initial Catalog=&quot;Crawler DB&quot;; User ID=HiveWorker; Password = 'BeeB0t' " providerName="System.Data.SqlClient" />
    <add name="Crawler_DBEntities" connectionString="metadata=res://*/DCrawlerRepo.csdl|res://*/DCrawlerRepo.ssdl|res://*/DCrawlerRepo.msl;provider=System.Data.SqlClient;provider connection string='data source=193.124.113.235;initial catalog=&quot;Crawler DB&quot;; User ID=HiveWorker; Password = BeeB0t ;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="addr" value="net.tcp://localhost:22222/chatservice" />-->
    <add key="addr" value="net.tcp://localhost:22222/chatservice" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Honeycomb.RemoteCrawlerService" behaviorConfiguration="MyBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="Honeycomb.IRemoteCrawler" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="MyBehavior">
          <serviceMetadata />
          <serviceThrottling maxConcurrentSessions="10000" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="01:00:02">
          <!--<binding name="DuplexBinding" clientBaseAddress="http://localhost:22223/callback" sendTimeout="00:00:02">-->

            <!--<reliableSession enabled="true" />-->
          
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
