<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" address="http://109.167.140.234:22222/chatservice" binding="wsDualHttpBinding"
                bindingConfiguration="DuplexBinding" contract="IRemoteCrawler" />
    </client>
    <bindings>
      <wsDualHttpBinding>
        
        <binding clientBaseAddress="http://localhost:22223/chatclient" name="DuplexBinding" sendTimeout="00:01:05">
          <!--<reliableSession enabled="true" />-->
         
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>